//Colors

$off-black: #20222b;
$off-white:#f7f7f7;
$dark-blue:#364051;
$blue: #3c4251;
$purple: #8357c5;
$light-blue: #464b5e;
$dark-gray: #333333;
$bright-blue:#1c88bf;
$grey: #666;
///Font sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2em;
$xl-size: 4.8rem;
$font-size-large: 1.8rem;

$desktop-breakpoint: 45rem;
